.database, .calculator {
    width: 40%;
    height: 23px;
    border: solid lightgray;
    border-radius: 20px;
    border-width: 2px;
    color: whitesmoke;
    background: transparent;
    display: inline-table;
    margin-bottom: 5px;
    margin-top: 5px;
    }

    .database:hover, .calculator:hover {
        opacity: 0.9;
        border-color: lightblue;
        color: lightblue;
    }
    
    .main {
        display: block;
        text-decoration: none;
        margin: 0;
        font-size: 25px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;
    }
    
    .playtime {
        display: block;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 0 auto; 
        width: -moz-fit-content;
        width: fit-content;
        color: whitesmoke;
    }
    
    .container, .container2 {
        display: block;
        text-align: center;
        background-color: black;
        z-index: 1;
    }

    body {
        font-family: Arial, sans-serif;
        background-color: black;
        color: whitesmoke;
        user-select: none;
    }
    
    h1 {
        font-size: 50px;
        background: linear-gradient(to right, cyan, green, lime, yellow, orange, red, magenta, purple, blue, cyan);
        background-size: 200% 200%;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        animation: gradientShiftLeft 8s infinite linear;
      }
    
    h2 {
        font-size: 22px;
        background: linear-gradient(to right, whitesmoke, rgb(188, 188, 188), whitesmoke);
        background-size: 200% 200%;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        animation: gradientShiftLeft 10s infinite linear;
    }
    
    p {
        font-size: 20px;
    }
    
    a {
        font-size: 20px;
        background: linear-gradient(to right, rgb(85, 212, 255), rgb(135, 135, 255), rgb(85, 212, 255));
        background-size: 200% 200%;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        animation: gradientShiftLeft 5s infinite linear;
    }
    
    a:hover {
        background: linear-gradient(to right, rgb(195, 195, 255), rgb(69, 209, 255), rgb(198, 198, 255));
        background-clip: text;
    }
    
    h1, h2, .removed, .returnp {
      text-align: center;
    }

    .container2 {
        display: flex;
        align-items: center;
        }

    .pfp {
        display: inline-block;
        border-radius: 50%;
        border: 3px black solid;
        width: 45%;
        height: 45%;
        margin-left: auto;
        }
    
      .pfp:hover {
        border: 3px solid rgb(90, 90, 90);
      }

      .google-log-in {
        border-radius: 15px;
        background-color: transparent;
        border-color: rgb(165, 165, 165);
        color: rgb(235, 235, 235);
        padding: 2px;
        margin-left: 10px;
        width: 25%;
        }
        
        .language-select {
          position: absolute;
          margin-top: 2px;
          margin-left: 10px;
      
          border-color: white;
          border-radius: 10px;
          background-color: transparent;
          color: white;
          padding: 5px;
          padding-right: 5px;
        }

    @keyframes gradientShiftLeft {
        0% {
          background-position: 200% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }