@keyframes glow {
    from {
      text-shadow: 0 0 20px gray, 0 0 30px gray
    }
    to {
      text-shadow: 0 0 20px rgb(153, 153, 153), 0 0 30px rgb(153, 153, 153)
    }
}

@keyframes move {
    0% {
        left: -10%;
        transform: translateY(0);
    }
    50% {
        transform: translateY(50px);
    }
    100% {
        left: 110%;
        transform: translateY(calc(50px + calc(100px * calc(1 - var(--rand)))));
    }
}

@keyframes red-green {
    0% {
        border-color: darkred;
        box-shadow: 0 0 20px #ff000080;
        background-color: #ff000020;
    }
    100% {
        border-color: green;
        box-shadow: 0 0 20px #00ff4055;
        background-color: #00ff4015;
    }
}

@keyframes green-red {
    0% {
        border-color: green;
        box-shadow: 0 0 20px #00ff4055;
        background-color: #00ff4015;
    }
    100% {
        border-color: darkred;
        box-shadow: 0 0 20px #ff000080;
        background-color: #ff000020;
    }
}

@keyframes reset {
    0% {
        background-color: rgba(255, 17, 0, 0.25);
        color: black;
    }
    
    100% {
        border-color: white;
        color: white;
        background-color: rgb(193, 0, 0)
    }
}

@keyframes reset-fade {
    0% {
        border-color: white;
        color: white;
        background-color: rgb(193, 0, 0);
    }
    100% {
        color: black;
        border-color: rgba(255, 17, 0, 0.788);
        background-color: rgba(255, 17, 0, 0.25);
    }
}

body, html {
    -webkit-user-select: none;
    user-select: none;
    overflow: hidden;
  }

  .dynamic-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(239, 239, 239);
    z-index: -1;
}

.dot {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: move 10s linear infinite;
}

.Index {
    border-style: solid;
    background-color: transparent;
    color: black;
    margin-top: 2px;
    margin-left: 20px;
    height: 30px;
    width: 100px;
    border-color: black;
    border-radius: 3px;
}
.Index:hover {
    border-color: lightseagreen;
}

.index-container {
    position: absolute;
}

.indexText {
    text-align: center;
    font-size: 14.5px;
    display: none;
    color: black;
    margin: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-y: auto;
    scrollbar-width: 5px;
}


.indexElement {
    padding: 1.5px;
    padding-right: 10px;
    border-right: 1px dashed darkgray;
}

.indexElement:last-child {
    padding-left: 10px;
    border-right: none;
}

.indexElement:hover {
    color: lightseagreen;
}

.ClickerTitle {
    font-size: 200%;
    text-align: center;
    color: black;
    animation: glow 3s ease-in-out infinite alternate;
}

.Info {
    color: black;
    text-align: center;
    font-size: 150%;
}
.Button1 {
    width: 50%;
    height: 100%;
    font-size: 25px;
    display: block;
    margin: 0 auto;
    color: black;
    background-color: rgb(0,0,0,0.01);
    border-color: rgb(43, 43, 43);
    border-radius: 10px;
    border-style: solid;
    box-shadow: 0 0 20px #4d4c4c86;
}
.Button1:hover {
    opacity: 0.75;
}

.Button2, .Button3 {
    width: 50%;
    height: 100%;
    font-size: 25px;
    display: block;
    margin: 0 auto;
    color: black;
    background-color: rgb(0,0,0,0);
    border-color: red;
    border-radius: 10px;
    border-style: solid;
}
.Button2:hover, .Button3:hover {
    opacity: 0.75;
}

.ResetButton {
    font-size: 16px;
    font-weight: bold;
    color: rgba(28, 28, 28, 0.91);
    width: 40%;
    height: 100%;
    padding: 1%;
    display: block;
    margin: 0 auto;
    border-color: rgba(255, 17, 0, 0.788);
    background: transparent;
    border-style: dashed;
    border-radius: 10px;
    transition: reset-fade 1s ease;
}

.ResetButton:hover {
   animation: reset 1s forwards alternate;
}

.ResetButton:not(:hover) {
   animation: reset-fade 1s forwards;
}

.database, .calculator {
    width: 25%;
    height: 40px;
    border: solid black;
    border-radius: 20px;
    border-width: 2px;
    color: black;
    background: transparent;
    display:inline-table;
}

.database:hover, .calculator:hover {
    opacity: 0.9;
    border-color: lightseagreen;
}

.main {
    display: inline-block;
    text-decoration: none;
    margin: 0;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    flex-grow: 1;
}
.main:hover {
    color: lightseagreen;
}

.playtime {
    display: flex;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 auto;
    width: -moz-fit-content;
    width: fit-content;
    color: black;
    flex-grow: 0.25;
}

.playtime:hover {
    color: lightseagreen;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(239, 239, 239);
    z-index: 1;
}

.container2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    background-color: rgb(239, 239, 239);
    z-index: 1;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(239, 239, 239);
    padding: 5%;
    border: 4px solid;
    border-radius: 5px;
    border-color: gray;
    flex-direction: column;
    align-items: center;
    z-index: 10;
  }
  
  .PopupText {
    font-size: 30px;
    margin-bottom: 70px;
    color: black;
    white-space: nowrap;
  }
  
  .buttonContainer {
    display: flex;
  }
  
  .PopupButton {
    margin: 0 20px;
    padding: 20px 60px;
    background-color: #ff0000c9;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .PopupButton:hover {
    background-color: #b80202;
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9;
}

.warning {
    width: 25%;
    height: 50%;
  }

.coloricon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 50px;
    width: 50px;
    padding: 0px;
    margin: 0px;
    z-index: inherit;
    transition: transform 0.3s ease;
}

.coloricon:hover {
    transform: scale(1.2);
}

.google-log-in {
    border-radius: 15px;
    background-color: transparent;
    border-color: rgb(90, 160, 183);
    color: black;
    padding: 10px;
    margin-left: 50px;
  }

  .google-log-in:hover {
    border-color: rgb(32, 81, 98);
    opacity: 0.8;
  }

  .buttons-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.pfpInfo {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 70px;
  background-color: rgb(239, 239, 239);
  border: 2px solid rgb(168, 168, 168);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(213, 213, 213, 0.2);
  z-index: 100;
  max-width: 300px;
  width: 100%;
}

.signout, .import, .export {
  margin-top: 10px;
  background-color: transparent;
  border: 2px solid rgb(0, 177, 177);
  border-radius: 10px;
  padding: 10px 20px;
  color: black;
}

.signout:hover, .import:hover, .export:hover {
  border-color: darkcyan;
}

.username {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  margin-bottom: 20px;
  white-space: inherit;
}

.toast {
  position: fixed;
  top: 75px;
  right: 10px;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  display: none;
  z-index: 1000;
  transition: opacity 0.5s ease-in-out, display 0.5s ease-in-out;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(239, 239, 239);
  z-index: 9999;
  opacity: 1;
  transition: opacity 1s ease;
}

.pfp {
    display: inline-block;
    border-radius: 50%;
    border: 3px rgb(239, 239, 239) solid;
    width: 35%;
    height: 35%;
    margin-left: auto;
}

  .pfp:hover {
    border: 3px solid rgb(186, 186, 186);
  }