@media screen and (max-width: 767px) {
    body, html {
        user-select: none;
        overflow: hidden;
        touch-action: manipulation;
        background-color: transparent;
      }

      .dynamic-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index: -1;
    }

      .dot {
        position: absolute;
        border-radius: 50%;
        width: 6px;
        height: 6px;
        animation: move 10s linear infinite;
      }
    
      @keyframes move {
        0% {
          left: -5%;
          transform: translateY(0);
        }
        50% {
          transform: translateY(10px);
        }
        100% {
          left: 110%;
          transform: translateY(calc(15px + calc(50px * calc(1 - var(--rand)))));
        }
      }


    .ClickerTitle {
        font-size: 200%;
        text-align: center;
        color: whitesmoke;
        animation: glow 2s ease-in-out infinite alternate;
    }

    @keyframes glow {
        from {
            text-shadow: 0 0 10px #ff0800, 0 0 20px #ff0000, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
        }
        to {
            text-shadow: 0 0 10px #a3037b, 0 0 20px #f00696, 0 0 40px #000000, 0 0 50px #000000, 0 0 60px #000000, 0 0 70px #eb08a7, 0 0 80px #e40dd2;
        }
    }
    
    @keyframes glow-border {
        0% {
            border-color: rgba(251, 9, 255, 0.695);
            box-shadow: 0 0 10px rgba(251, 9, 255, 0.695);
        }
        50% {
            border-color: #ff0800a6;
            box-shadow: 0 0 20px #ff0800a6;
        }
        100% {
            border-color: rgba(251, 9, 255, 0.695);
            box-shadow: 0 0 10px rgba(251, 9, 255, 0.695);
        }
    }

    .Info {
        color: white;
        text-align: center;
        font-size: 150%;
    }

    .Button1, .Button2, .Button3, .ResetButton{
        width: 80%;
        height: auto;
        font-size: 20px;
        display: block;
        margin: 0 auto;
        color: white;
        background-color: transparent;
        border: 2px solid red;
        border-radius: 10px;
        margin-bottom: 10px;
        animation: glow-border 5s infinite alternate;
    }
    .ResetButton {
        height: 35px;
        font-size: 16px;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.91);
        border-color: rgba(251, 9, 255, 0.846);
          background: transparent;
          border-style: dashed;
          border-radius: 10px;
        animation: none;
    }

    .Button1:hover, .Button2:hover, .Button3:hover{
        border-style: dashed;
        opacity: 0.95;
    }

    .ResetButton:hover {
        opacity: 0.95;
        background-color: rgba(255, 0, 0, 0.658);
        color: rgb(255, 255, 255);
        border-color: white;
        border-width: 2px;
    }

    .database, .calculator {
        width: 40%;
        height: 23px;
        border: solid lightgray;
        border-radius: 20px;
        border-width: 2px;
        color: whitesmoke;
        background: transparent;
        display: inline-table;
        margin-bottom: 5px;
        margin-top: 5px;
        }
    }
        .database:hover, .calculator:hover {
            opacity: 0.9;
            border-color: lightblue;
            color: lightblue;
        }
        
        .main {
            display: block;
            text-decoration: none;
            margin: 0;
            font-size: 25px;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: white;
        }
        
        .playtime {
            display: block;
            font-size: 20px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin: 0 auto; 
            width: fit-content;
            color: whitesmoke;
        }
        
        .container, .container2 {
            display: block;
            text-align: center;
            background-color: black;
            z-index: 1;
        }