@keyframes glow {
    from {
      text-shadow: 0 0 10px #ff0800, 0 0 20px #ff0000, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 10px #a3037b, 0 0 20px #f00696, 0 0 40px #000000, 0 0 50px #000000, 0 0 60px #000000, 0 0 70px #eb08a7, 0 0 80px #e40dd2;
    }
}

@keyframes move {
    0% {
        left: -10%;
        transform: translateY(0);
    }
    50% {
        transform: translateY(50px);
    }
    100% {
        left: 110%;
        transform: translateY(calc(50px + calc(100px * calc(1 - var(--rand)))));
    }
}

@keyframes red-green {
    0% {
        border-color: darkred;
        box-shadow: 0 0 20px #ff000080;
    }
    100% {
        border-color: green;
        box-shadow: 0 0 20px #00ff4055;
    }
}

@keyframes green-red {
    0% {
        border-color: green;
        box-shadow: 0 0 20px #00ff4055;
    }
    100% {
        border-color: darkred;
        box-shadow: 0 0 20px #ff000080;
    }
}

@keyframes reset {
    100% {
        border-color: white;
        box-shadow: 0 0 20px #ffffff9c;
        background-color: rgba(255, 0, 0, 0.658);
    }
}

@keyframes reset-fade {
    0% {
        border-color: white;
        box-shadow: 0 0 20px #ffffff9c;
        background-color: rgba(255, 0, 0, 0.658);
    }
    100% {
        border-color: rgba(255, 17, 0, 0.788);
        box-shadow: 0 0 20px #ff0000b1;
        background-color: transparent;
    }
}

body, html {
    -webkit-user-select: none;
    user-select: none;
    overflow: hidden;
  }

  .dynamic-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -1;
}

.line:hover {
    border-color: lightblue;
}

.dot {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: move 10s linear infinite;
}

.Index {
    border-style: solid;
    background-color: transparent;
    color: white;
    margin-top: 2px;
    margin-left: 10px;
    height: 30px;
    width: 100px;
    border-color: gray;
    border-radius: 3px;
}
.Index:hover {
    border-color: rgba(236, 235, 235, 0.664);
}

.index-container {
    position: absolute;
}

.indexText {
    text-align: center;
    font-size: 14.5px;
    display: none;
    color: white;
    margin: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.ClickerTitle {
    font-size: 200%;
    text-align: center;
    color: whitesmoke;
    animation: glow 2s ease-in-out infinite alternate;
}

.Info {
    color: white;
    text-align: center;
    font-size: 150%;
}
.Button1 {
    width: 50%;
    height: 100%;
    font-size: 25px;
    display: block;
    margin: 0 auto;
    color: white;
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.795);
    border-radius: 10px;
    border-style: solid;
    box-shadow: 0 0 20px #ffffff9c;
}
.Button1:hover {
    opacity: 0.8;
}

.Button2, .Button3 {
    width: 50%;
    height: 100%;
    font-size: 25px;
    display: block;
    margin: 0 auto;
    color: white;
    background-color: transparent;
    border-color: red;
    border-radius: 10px;
    border-style: solid;
}
.Button2:hover, .Button3:hover {
    opacity: 0.8;
}

.ResetButton {
    font-size: 16px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.91);
    width: 40%;
    height: 100%;
    padding: 1%;
    display: block;
    margin: 0 auto;
    border-color: rgba(255, 17, 0, 0.788);
    box-shadow: 0 0 20px #ff0000b1;
    background: transparent;
    border-style: dashed;
    border-radius: 10px;
    transition: reset-fade 0.5s ease;
}

.ResetButton:hover {
   animation: reset 0.5s forwards alternate;
}

.ResetButton:not(:hover) {
   animation: reset-fade 0.5s forwards;
}

.database, .calculator {
    width: 25%;
    height: 40px;
    border: solid lightgray;
    border-radius: 20px;
    border-width: 2px;
    color: whitesmoke;
    background: transparent;
    display:inline-table;
}

.database:hover, .calculator:hover {
    opacity: 0.9;
    border-color: lightblue;
    color: lightblue;
}

.main {
    display: inline-block;
    text-decoration: none;
    margin: 0;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    flex-grow: 1;
}
.main:hover {
    color: lightblue;
}

.playtime {
    display: flex;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 auto;
    width: -moz-fit-content;
    width: fit-content;
    color: whitesmoke;
    flex-grow: 0.13;
}

.playtime:hover {
    color: lightblue;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    z-index: 1;
}

.container2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    background-color: black;
    z-index: 1;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0a0909fb;
    padding: 5%;
    border: 1px solid black;
    border-radius: 5px;
    border-color: white;
    flex-direction: column;
    align-items: center;
    z-index: 10;
  }
  
  .PopupText {
    font-size: 25px;
    margin-bottom: 70px;
    color: white;
    white-space: nowrap;
  }
  
  .buttonContainer {
    display: flex;
  }
  
  .PopupButton {
    margin: 0 20px;
    padding: 20px 60px;
    background-color: #ff000069;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .PopupButton:hover {
    background-color: #ff00008f;
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9;
}