.ClickerTitle {
    font-size: 35px;
}

.Button1 {
    width: 500px;
    height: 75px;
    font-size: 25px;
}

.Button2 {
    width: 500px;
    height: 75px;
    font-size: 25px;
}

.Button3 {
    width: 500px;
    height: 75px;
    font-size: 25px;
}